<%= form_with model: [:admin, @course_list, @section] do |f| %>
  <% if @section.errors.any? %>
    <div class="flash alert">
      <h2><%= pluralize(@section.errors.count, "error") %> prevented this section from saving:</h2>
      <ul class="list">
        <% @section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit (@section.persisted? ? "Update Section" : "Create Section"), class: "btn" %>
  </div>
<% end %>
